html(lang="ko")
    head
        link(rel="stylesheet" href="/public/result.css")
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="title" content="식물상 테스트")
        meta(name="subject" content="얼굴로 보는 인공지능 자생식물 추천서비스")
        meta(name="keywords" content="식물, 자생식물, 인공지능, 추천, 서비스, 제주도")
        meta(name="author" content="3HAN")
        meta(name="description" content="사진을 찍고 몇가지 설문 조사에 답을 하면 나에게 맞는 제주도 식의약용 자생식물을 찾아줍니다!")
        meta(property="og:type" content="website")
        meta(property="og:title" content="식물상 테스트")
        meta(property="og:description" content="사진을 찍고 몇가지 설문 조사에 답을 하면 나에게 맞는 제주도 식의약용 자생식물을 찾아줍니다!")
        title 자생식물 씨앗 추천 서비스
    body
        div.page
            div.imgandcategory
                h1.category 
                    span.sharp #
                    span.num=no 
                    span.dot .
                    span.name=name
                div.img
                    img(src=imgURL)
            div.info
                h3 꽃말: ___
                h3 효능: ___
                
                    
        



                